@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@0;1&family=Merriweather+Sans&family=Montserrat&family=Sacramento&display=swap');
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', serif;
    padding: 0;
    
}
*{
    box-sizing: border-box;
}
h1{

    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    margin: 15px auto 0 auto;
    color: #363062;
    letter-spacing: 5px;
}
h2 {
    
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #4D4C7D;
    font-weight: normal;
    letter-spacing: 5px;
}

h3 {
    
    font-family: 'Montserrat',sans-serif;
    color: #4D4C7D;
}
p{
    color: #827397;
    line-height: 2;
    letter-spacing: 2px;
}
.top-container {
    background-color: #E9D5DA;
    position: relative;
    padding-top: 80px;
    margin-bottom: 30px ;
}
.bottom-cloud{
    position:absolute;
    left: 300px;
    border: 300px;
 }
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.profile-img, .eng, .computer{
    width: 180px;
}

.skill-row{
    width: 50%;
    margin: 100px auto 150px auto;
    text-align: left;
}
.profile{
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 30px;
}
.eng {
    float: left;
    margin-right: 50px;
}
.computer{
    float: right;
    margin-left: 50px;
}
hr{
    
    border: dotted 10px #E9D5DA;
    border-top: 0;
    width: 4rem;
    margin-top: 10px;
    margin-bottom: 10px;
}
.bottom-container{
    background-color: #E9D5DA;
    height: 80px;
    padding-top: 10px;
    margin-top: 40px;
}
#contact{
    margin-bottom: 40px;
}
.btn {
        background: #827397;
        background-image: -webkit-linear-gradient(top, #827397, #363062);
        background-image: -moz-linear-gradient(top, #827397, #363062);
        background-image: -ms-linear-gradient(top, #827397, #363062);
        background-image: -o-linear-gradient(top, #827397, #363062);
        background-image: linear-gradient(to bottom, #827397, #363062);
        -webkit-border-radius: 28;
        -moz-border-radius: 28;
        border-radius: 28px;
        color: #E9D5DA;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        font-family: 'Montserrat',
        sans-serif;
    }
    
.btn:hover {
        background: #363062;
        background-image: -webkit-linear-gradient(top, #363062, #827397);
        background-image: -moz-linear-gradient(top, #363062, #827397);
        background-image: -ms-linear-gradient(top, #363062, #827397);
        background-image: -o-linear-gradient(top, #363062, #827397);
        background-image: linear-gradient(to bottom, #363062, #827397);
        text-decoration: none;
}
